<section id="gtco-menu" class="section-padding">
  <div class="container">
    <div class="section-content">
      <div class="row mb-5">
        <div class="col-md-12">
          <div class="heading-section text-center">
            <!-- <span class="subheading">
                            Specialties
                        </span> -->
            <h2 class="x">
              Taste all our menu!
            </h2>

          </div>
        </div>
      </div>
      <div class="color">
        <h4> Popular Dishes</h4>
        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab
          aliquam dolor eius.
        </p>
      </div>


      <app-menu-categories *ngFor="let cat of categories" [category]="cat"></app-menu-categories>
    </div>
  </div>
</section>
